[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/vimtex"]
	path = pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
